<footer class="bg-dark p-5 text-center text-white position-relative">
    <div class="container">
        <p class="lead mb-0">Copyright &copy; 2021 Fronend Bootcamp</p>
        <a href="#" class="position-absolute h1 upCircle"><i class="bi bi-arrow-up-circle"></i></a>
    </div>
</footer>

{{!-- modal --}}
<div class="modal fade" id="enrollment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Fill out this form and we will get back to you</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="firstname" class="col-form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname"
                        placeholder="Example input placeholder">
                </div>
                <div class="mb-3">
                    <label for="lastname" class="col-form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname"
                        placeholder="Another input placeholder">
                </div>
                <div class="mb-3">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="text" class="form-control" id="email"
                        placeholder="Another input placeholder">
                </div>
                <div class="mb-3">
                    <label for="phone" class="col-form-label">Phone</label>
                    <input type="text" class="form-control" id="phone"
                        placeholder="Another input placeholder">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>