<form method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="pass" class="form-control" id="password">
    </div>
    <select class="form-select mb-3" name="sex">
        <option>--CHỌN ĐI THẰNG LOL</option>
        <option value="MALE">NAM</option>
        <option value="FEMALE">NỮ</option>
        <option value="LGBT">BÊ ĐÊ</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>